 <div style="background-color: grey; width: 900px; height: 500px; margin: 0px auto; border:  1px solid black;" >
    <a class="nav-link active" aria-current="page" href="/">Home</a> <br> 
    <a href="/producto">Producto</a>
<h2 style ='text-align: center;'>Ingrese el Producto:</h2> 
<class style="text-align: center;">
<form action="/producto" method="post">
 Producto: <input type="text" style= " width: 200px;"placeholder="Producto" name="producto"> <br> <br>
    Precio: <input type="number" style="width: 220px;" placeholder="Precio" name="precio"> <br> <br>
   Thumbnail:  <input type="texte" style="width: 190px;" placeholder="Thumbnail" name="thumbnail"><br> <br>
    <input type="submit" value="Enviar">
</class>
</form>
</div>